@model string

<div class="alert alert-danger alert-dismissible fade show shadow rounded-4" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    <span>@Model</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>